.outerDiv {
    height: 500px;
    border: 2px solid black;

    display: flex;
}

.verticalBar {
    border: 2px solid red;

    width: 10%;

    height: 250px;

    margin-bottom: 0;

}